:root {
    --var1: 250px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', 'Georgia', 'sans-serif';
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.nav-link {
    color: #e5e7eb;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 16px 100px;
    flex-shrink: 0;
}

.logo-text {
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.nav {
    display: flex;
    gap: 28px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.hero-btn {
    padding: 8px 34px;
    background-color: #3882f6;
    font-weight: bolder;
    border-radius: 8px;
    color: white;
    border: 2px solid transparent;
}

.hero-btn:hover {
    background-color: #1f2937;
    color: white;
    border: 2px solid white;
    transition: all 0.1s ease-out;
}

.err-img {
    background-color: grey;
    width: 500px;
    height: var(--var1);
    display: inline-block;
    line-height: 100px;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.hero-content {
    display: flex;
    justify-content: space-around;
    height: 470px;
    gap: 0;
}

.left-content {
    padding-left: 50px;
    padding-top: 80px;
    max-width: 460px;
}

/* Some Random Info Section */

.info {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-main-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 80px;
    margin-bottom: 60px;
}

.info-items {
    display: flex;
    gap: 60px;
}

.item-container {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    background-color: white;
    border: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.item-content {
    text-align: center;
    font-weight: 300;
}

/* Quote Section */

.quote-div {
    background-color: #e5e7eb;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 285px;
    gap: 0;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;
}

.author {
    margin-top: 0;
    text-align: right;
    margin-right: 40px;
    font-weight: bold;
    font-size: large;
}

/* Call to Action Section */

.action {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-bg {
    background-color: #3882f6;
    min-width: 75%;
    min-height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.left-action-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-button {
    padding: 10px 40px;
    background-color: #3882f6;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
}

.action-button:hover {
    background-color: #1f2937;
    border: 2px solid white;
    color: white;
    transition: all 0.1s ease-out;
}

.action-header {
    font-size: large;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

.action-content {
    font-size: medium;
    font-weight: normal;
    color: white;
    margin-top: 0;
}

.right-action-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */

footer {
    min-height: 80px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-text {
    font-weight: bold;
}

.highlight-text:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: text-decoration 1s ease;
    cursor: pointer;
}